/* OnlyFansShare.css */
.onlyFansLogoContainer {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #dcd9d9; /* Soft gray background color */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .onlyFansLogo {
    width: 32px; /* Adjust the size of the logo within the circle */
    height: 32px;
    border-radius: 50%;
  }
  